
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <form method='post' enctype="multipart/form-data"onsubmit="alert('Updated Successfully');" >
    {% csrf_token %}
    {{ form.Created_By.as_hidden }}
    
   
        <div id="page-header">
            <h1 id="page-heading">UNIT OF MEASURE </h1>
        </div>
        <div id="main-header">
            <h1 id="main-heading">Welcome to : Chal Charkha</h1>
        </div>
        <div class="card mb-2">
            <div class="card-header">
            EDIT UNIT OF MEASURE DETAILS
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{form.UOM | as_crispy_field}}
    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{form.Description | as_crispy_field}}
    
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{form.Remark | as_crispy_field}}
                        </div>
    
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{form.Created_By | as_crispy_field}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}