{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="page-header">
  <h1 id="page-heading">GST</h1>
</div>
<div id="main-header">
  <h1 id="main-heading">Welcome to : Chal Charkha</h1>
</div>
<div id="toolbar">
  <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
    <a href="{% url 'gst-form' %}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>  CREATE</a>
  </div>
  <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary" onclick="edit_action()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>  EDIT</button>
  </div>
  <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary" onclick="delete_action()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
    </svg>  DELETE</button>
  </div>
</div>
<table class="table" id="tables">
  <thead>
    <tr>
      <td><input type="radio" id="html" name="id" value="0" checked /></td>
      <td>GST Code</td>
      <td>GST %</td>
      <td>Created By</td>
      <td>Description</td>
    </tr>
  </thead>
  {% for i in dataFinal %}
  <tbody>
    <tr class="one">
      <td><Input type="radio" id="html" name="id" value="{{i.Gst_Code}}"></td>
      <td>{{i.Gst_id}}</td>
      <td>{{i.Gst}}</td>
      <td>{{i.Created_By}}</td>
      <td>{{i.Description}}</td>
    </tr>

  </tbody>
  {% endfor %}
</table>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if dataFinal.has_previous %}
          <li class="page-item"><a class="page-link"
              href="{% url 'gst-list' %}?page={{dataFinal.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in paginator.page_range %}
          <li class="page-item"><a class="page-link" href="{% url 'gst-list' %}?page={{ i }}">{{i}}</a></li>
          {% endfor %}
          {% if dataFinal.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% url 'gst-list' %}?page={{dataFinal.next_page_number}}">Next</a></li>
          {% endif %}

        </ul>
      </nav>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button id="downlodexcel" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
      </svg> DOWNLOAD EXCEL</button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button id="btnExport" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
      </svg> DOWNLOAD PDF </button>
    </div>
  </div>
  </div>
<script>

  function edit_action() {

    var val = $("input[type='radio']:checked").val();
    if (val == 0) {
      alert("Please select item to edit ...")
    } else {
      window.location.replace("edit/" + val);
    }
  }

  function delete_action() {

    var val = $("input[type='radio']:checked").val();
    if (val == 0) {
      alert("Please select item to delete ...")
    } else {
      window.location.replace("delete/" + val);
      alert("Want to delete? ...")

    }
  }

</script>
<script>
  document.getElementById('downlodexcel').addEventListener('click', function () {
    var table2excel = new Table2Excel();
    table2excel.export(document.querySelectorAll('#tables'));
  });
</script>
<script type="text/javascript">
  $("body").on("click", "#btnExport", function () {
    html2canvas($('#tables')[0], {
      onrendered: function (canvas) {
        var data = canvas.toDataURL();
        var docDefinition = {
          content: [{
            image: data,
            width: 500
          }]
        };
        pdfMake.createPdf(docDefinition).download("GST-details.pdf");
      }
    });
  });
</script>
{% endblock %}