{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method='post' enctype="multipart/form-data"  onsubmit="alert('Created Successfully');">
    {% csrf_token %}
 
    <div id="page-header">
        <h1 id="page-heading">PO Line Item Master </h1>
    </div>
    <div id="main-header">
        <h1 id="main-heading">Welcome to : Chal Charkha</h1>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            EDIT PO LINE ITME MASTER
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{form.PoLine_No | as_crispy_field}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{form.Description | as_crispy_field}}
   
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{form.Remark | as_crispy_field}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.Created_By | as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
</form>
{% endblock %}
