{% extends 'base.html' %}

{% block content %}
        <div class="invoice-items">
            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="invoice-logo">
                                    <h1><img width="100" src="../../static/theme/img/logo.png" Invoice logo> प्रतिभामंडल न्यास </h1>
                                    प्रतिभास्थली ज्ञानोदया विधायपीठ परिसर, तिलवराघाट,जबलपुर -482003(म.प्र)<br> GSTIN:23AADTP8230A1Z1 ..... MOBILE:8349788827

                            </th>
                            <th colspan="5 ">
                                <div>Invoice No.</div>
                                <div>Invoice Date.</div>
                                <div>Due Date.</div>
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <Tr>
                            <Th colspan="5">BILL TO
                                <p class="h6 d-flex flex-wrap">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. Recusandae repellat iste consequuntur</p>
                            </Th>
                            <Th colspan="5">SHIP TO
                                <p class="h6 d-flex flex-wrap">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. Recusandae repellat iste consequuntur</p>
                            </Th>
                        </Tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="per70 text-center ">S.NO.</th>
                            <th class="per5 text-center ">ITEM</th>
                            <th class="per25 text-center ">HSN</th>
                            <th class="per25 text-center ">SIZE</th>
                            <th class="per25 text-center ">COLOUR</th>
                            <th class="per25 text-center ">QTY</th>
                            <th class="per25 text-center ">RATE</th>
                            <th class="per25 text-center ">DISCOUNT</th>
                            <th class="per25 text-center ">IGST</th>
                            <th class="per25 text-center ">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <TD>1</TD>
                            <TD>बधारू डाबू साड़ी<br><br>Transportation Charges<br>Round off</TD>
                            <TD>-</TD>
                            <TD>-</TD>
                            <TD>-</TD>
                            <TD>1.0PCS</TD>
                            <TD>3332.38</TD>
                            <TD>333.24<br>10%</TD>
                            <TD>149.96</TD>
                            <TD>3149.1<br>80.0<br>0.1</TD>
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <TD></TD>
                            <TD>Total amount</TD>
                            <TD></TD>
                            <TD></TD>
                            <TD></TD>
                            <TD>1</TD>
                            <TD></TD>
                            <TD></TD>
                            <TD></TD>
                            <TD>3000</TD>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" class="text-right">Received amount:</th>
                            <th colspan="5" class="text-right">Balance Amount:</th>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-right ">Bank Details</th>
                            <th colspan="2" class="text-right ">Scan QR Code TO Pay:
                                <Br> UPI ID:xzy

                            </th>
                            <th colspan="3" class="text-right ">
                                Terms and Conditions:<br> 1.Goods once sold will not be taken back or exchanged<br> 2.All disputes are subject to JABALPUR Jurisdiction
                            </th>
                            <th colspan="2" class="text-right ">Authorised Signature for<br> प्रतिभामंडल न्यास
                            </th>

                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <div class="col-md-2">
                <button onclick="print_fun" class="btn btn-primary" type="submit"> Print</button>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
{% endblock %}    