{% extends 'base.html' %}
{% block content %}
<div id="page-header">
  <h1 id="page-heading">Ledger </h1>
</div>
<div id="main-header">
  <h1 id="main-heading">Welcome to : Chal Charkha</h1>
</div>
<div id="toolbar">
  <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary" id="searchsupplier1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>  SEARCH</button>
  </div>
<div class="card mb-4" id="searchsupplierform1">
  <div class="card-header">
    Search Ledger
  </div>
  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'Searchledger' %}">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Party Name</label>
            <input type="text" class="form-control" id="customer-name" placeholder="Enter Party Name"
              onkeyup='validateName()' name="Searchledgername">
            <span class='error-message' id='name-error'></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Party Name</label>
            <input type="text" class="form-control" id="customer-name" placeholder="Enter Party Name"
              onkeyup='validateName()' name="Searchledgername">
            <span class='error-message' id='name-error'></span>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" style="margin-top: 1%;" type="submit">Search</button>
    </div>
  </form>
</div>
{% comment %} <form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        From :<input type="date" name="fromdate" />
        To :<input type="date" name="Todate" />
      </div>
    </div>
    <div>
      <button class="btn btn-primary" style="margin-top: 1%;" type="submit">Search</button>
    </div>
    <div class="row-table"> {% endcomment %}
      <table class="table" id="tables">
        <thead>
          <tr>
            <td rowspan="2"><Input type="radio" id="html" name="id" value="0"></td>
            <td>Party</td>
            <td>Particular</td>
            <td>Date</td>
            <td>Voucher No.</td>
            <td>Credit</td>
            <td>Debit</td>
            <td>Balance</td>
            <td>Remark</td>
          </tr>
        </thead>
        <tbody>
          {% for i in dataFinal %}
          <tr class="one">
            <td><Input type="radio" id="html" name="id" value="0"></td>
            <td>{{i.Supplier_Name}}</td>
            <td>{{i.description}}</td>
            <td>{{i.payment_date}}</td>
            <td>{{i.Payment_NO}}</td>
            <td>{{i.Payment_amount}}</td>
            <td></td>
            <td></td>
            <td>{{i.Remark}}</td>
          </tr>
        </tbody>
        {% endfor %}
</form>
</table>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <nav aria-label="Page navigation example">
        <ul class="pagination">

          {% if dataFinal.has_previous %}
          <li class="page-item"><a class="page-link"
              href="{% url 'ledger-list' %}?page={{dataFinal.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in paginator.page_range %}
          <li class="page-item"><a class="page-link" href="{% url 'ledger-list' %}?page={{ i }}">{{i}}</a></li>
          {% endfor %}
          {% if dataFinal.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% url 'ledger-list' %}?page={{dataFinal.next_page_number}}">Next</a>
          </li>
          {% endif %}

        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <a href="{% url 'invoice' %}" class="btn btn-primary">Print File</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button id="downlodexcel" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
          <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
        </svg> DOWNLOAD EXCEL</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button id="btnExport" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
          <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
        </svg> DOWNLOAD PDF </button>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#button").click(function () {

        if (confirm("are you sure you want to delete")) {
          var arr_id = [];

          $("input[type='radio']:checked").each(function (i) {
            arr_id[i] = $(this).val();
          })
          if (arr_id.length == 0) {

            alert("Please Select Your Item");
          } else {
            for (var i = 0; i < arr_id.length; i++) {

              $("." + arr_id[i]).css({ "background": "red" });
              $("." + arr_id[i]).fadeOut(".");

            }
          }

        }
        else {
          return false;
        }
      })

    })
  </script>
  <script>

    function edit_action() {

      var val = $("input[type='radio']:checked").val();
      if (val == 0) {
        alert("Please select item to edit ...")
      } else {
        window.location.replace("edit/" + val);
      }
    }

    function delete_action() {

      var val = $("input[type='radio']:checked").val();
      if (val == 0) {
        alert("Please select item to delete ...")
      } else {
        window.location.replace("delete/" + val);
        alert("Want to delete? ...")

      }
    }

  </script>
  <script>
    function validateName() {

      var name = document.getElementById('customer-name').value;

      if (name.length == 2) {

        producePrompt('Name is required', 'name-error', 'red')
        return false;

      }

      if (!name.match(/^[A-Za-z]*\s{0}/)) {

        producePrompt('First and last name, please.', 'name-error', 'red');
        return false;

      }

      producePrompt('Valid', 'name-error', 'green');
      return true;

    }

    function validatePhone() {

      var phone = document.getElementById('customer-phone').value;

      if (phone.length == 0) {
        producePrompt('Phone number is required.', 'phone-error', 'red');
        return false;
      }

      if (phone.length != 10) {
        producePrompt('Include area code.', 'phone-error', 'red');
        return false;
      }

      if (!phone.match(/^[0-9]{10}$/)) {
        producePrompt('Only digits, please.', 'phone-error', 'red');
        return false;
      }

      producePrompt('Valid', 'phone-error', 'green');
      return true;

    }
    function validateCode() {

      var code = document.getElementById('customer-code').value;

      if (code.length == 0) {
        producePrompt(' Supplier code number is required.', 'code-error', 'red');
        return false;
      }

      if (code.length != 5) {
        producePrompt('Include area code.', 'code-error', 'red');
        return false;
      }

      if (!code.match(/^[0-9]{5}$/)) {
        producePrompt('Only digits, please.', 'code-error', 'red');
        return false;
      }
      producePrompt('Valid', 'code-error', 'green');
      return true;

    }

    function validateEmail() {

      var email = document.getElementById('customer-email').value;

      if (email.length == 0) {

        producePrompt('Email Invalid', 'email-error', 'red');
        return false;

      }

      if (!email.match(/^[A-Za-z\._\-[0-9][@][A-Za-z][\.][a-z]{2,4}$/)) {

        producePrompt('Email Invalid', 'email-error', 'red');
        return false;

      }

      producePrompt('Valid', 'email-error', 'green');
      return true;

    }
    function validateForm() {
      if (!validateName() || !validatePhone() || !validateEmail() || !validateCode() || !validateMessage()) {
        jsShow('submit-error');
        producePrompt('Please fix errors to submit.', 'submit-error', 'red');
        setTimeout(function () { jsHide('submit-error'); }, 2000);
        return false;
      }
      else {

      }
    }

    function jsShow(id) {
      document.getElementById(id).style.display = 'block';
    }

    function jsHide(id) {
      document.getElementById(id).style.display = 'none';
    }


    function producePrompt(message, promptLocation, color) {

      document.getElementById(promptLocation).innerHTML = message;
      document.getElementById(promptLocation).style.color = color;

    }
  </script>
  <script>
    document.getElementById('downlodexcel').addEventListener('click', function () {
      var table2excel = new Table2Excel();
      table2excel.export(document.querySelectorAll('#tables'));
    });
  </script>
  <script type="text/javascript">
    $("body").on("click", "#btnExport", function () {
      html2canvas($('#tables')[0], {
        onrendered: function (canvas) {
          var data = canvas.toDataURL();
          var docDefinition = {
            content: [{
              image: data,
              width: 500
            }]
          };
          pdfMake.createPdf(docDefinition).download("customer-details.pdf");
        }
      });
    });
  </script>
  {% endblock %}