{% extends 'base.html' %}

{% block content %}
         <div id="page-header">
            <h1 id="page-heading">PURCHASE REQUEST </h1>
         </div>
         <div id="main-header">
            <h1 id="main-heading">Welcome to : Chal Charkha</h1>
         </div>
         <div id="toolbar">
            <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary"  onclick="myFunction()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>  SEARCH</button>
              </div>
              <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
                <a href="{% url 'purchase_request' %}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>  CREATE</a>
              </div>
              <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary" onclick="edit_action()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>  EDIT</button>
              </div>
              <div class="btn-group me-auto" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary" onclick="delete_action()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>  DELETE</button>
              </div>
            </div>

<div id="myDIV">
    <div class="card mb-4" id="searchsupplierform2">
        <div class="card-header">
            Search Request
        </div>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchpr' %}">
            {% csrf_token %}
        <div class="card-body">
            <div class="row">
               <div class="col-md-2">
                  <div class="form-group">
                      <label>PR No</label>
                      <input type="text" class="form-control" id="exampleInputPONO1"name="pr-number" aria-describedby="emailHelp"
                          placeholder="Enter PR No">
                      <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
              </div>
              <div class="col-md-2">
               <div class="form-group">
                   <label>Supplier Code</label>
                   <input type="text" class="form-control" id="exampleInputMobileNo1"
                       aria-describedby="emailHelp"name="supplier-codepr" placeholder="Enter Supplier Code">
                   <small id="emailHelp" class="form-text text-muted"></small>
               </div>
           </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Supplier Name</label>
                        <input type="text" class="form-control" id="exampleInputMobileNo1"name="supplier-namepr" aria-describedby="emailHelp"
                placeholder="Enter Supplier Name">
              <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                      <label>Item Code</label>
                      <input type="text" class="form-control" id="exampleInputitemcode1"
                          aria-describedby="emailHelp"name="item-codepr" placeholder="Enter Item Code">
                      <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
              </div>
              <div class="col-md-2">
               <div class="form-group">
                   <label>Item Name</label>
                   <input type="text" class="form-control"name="item-namepr" id="exampleInputPONO1" aria-describedby="emailHelp"
                       placeholder="Enter Item Name">
                   <small id="emailHelp" class="form-text text-muted"></small>
               </div>
           </div>
               
            </div>
            <div>
                <button class="btn btn-primary" style="margin-top: 1%;" type="submit">Search</button>
                </div>
        </div>
    </div>

</form>
</div>
<div class="row-table">
    <table class="table">
        <thead>
            <tr>
                <td><input type="radio" id="html" name="id" value="0" checked/>
                     <td >PR No</td>
                     <td>PR Line Item</td>
                     <td >PR Item</td>
                     <td >PR Date</td>
                     <td >Changed Date</td>
                     <td >Changed By</td>
                     <td>PR Status</td>
                     <td>Description</td>
                     <td>Location</td>
                     <td>Requistioner</td>
                     <td>Supplier Code</td>
                     <td>Supplier Name</td>
                     <td>Item Code</td>
                     <td>Item Name</td>
                     <td>Item Size</td>
                     <td>Item Color</td>
                     <td>Unit Of Measure</td>
                     <td>Quantity</td>
                     <td>Base Price</td>
                     <td>Discount</td>
                     <td>GST</td>
                     <td>GST %</td>
                     <td>Item Count</td>
                     <td>Expected Date Of Arrival</td>
                     <td>Last Item Purchase Date</td>
                     <td>Last Item Purchase Price</td>
                     <td>Remark</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in dataFinal %}
                 <tr class="one">
                     <td><Input type="radio" id="html" name="id" value="{{i.PR_meterial_id}}"></td>
                     <td>{{i.Purchase_request.PR_id}}</td>
                     <td>{{i.PR_meterial_id}}</td>
                     <td>{{i.Item_id.Item_Name}}</td>
                     <td>{{i.Purchase_request.Created_At}}</td>
                     <td>{{i.Updated_At}}</td>                     
                     <td>{{ request.user | upper }}</td>
                     <td>{{i.Purchase_request.PR_Status}}</td>
                     <td>{{i.Purchase_request.Description}}</td>
                     <td>{{i.Purchase_request.Location}}</td>
                     <td>{{i.Purchase_request.Requistioner}}</td>
                     <td>{{i.Purchase_request.Supplier_Code.Supplier_Code}}</td>
                     <td>{{i.Purchase_request.Supplier_Code.Name}}</td>
                     <td>{{i.Item_id.Item_NO}}</td>
                     <td>{{i.Item_id.Item_Name}}</td>
                     <td>{{i.Item_id.Item_Size}}</td>
                     <td>{{i.Item_id.Color}}</td>
                     <td>{{i.Item_id.UOM}}</td>
                     <td>{{i.Item_quantity}}</td>
                     <td>{{i.Item_basePrice}}</td>       
                     <td>xyz</td>
                     <td>{{i.Item_id.Item_GST}}</td>
                     <td>{{i.Purchase_request.Gst_percent}}</td>
                     <td>{{i.Purchase_request.Item_Count}}</td>
                     <td>{{i.Purchase_request.Expected_Arrival_date}}</td>
                     <td>xyz</td>
                     <td>xyz</td>
                     <td>{{i.Purchase_request.Supplier_Code.Remark}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
          </div>
          <div class = "row">
            <div class="col-md-6">
              <div class="form-group">
          <nav aria-label="Page navigation example">
        <ul class="pagination">

          {% if dataFinal.has_previous %}
          <li class="page-item"><a class="page-link"
              href="{% url 'purchase-list' %}?page={{dataFinal.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in paginator.page_range %}
          <li class="page-item"><a class="page-link" href="{% url 'purchase-list' %}?page={{ i }}">{{i}}</a></li>
          {% endfor %}
          {% if dataFinal.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% url 'purchase-list' %}?page={{dataFinal.next_page_number}}">Next</a></li>
          {% endif %}

        </ul>
      </nav>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <button id="downlodexcel" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
              </svg> DOWNLOAD EXCEL</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button id="btnExport" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
              </svg> DOWNLOAD PDF </button>
            </div>
          </div>
          </div>
          <script>
            function edit_action() {
              var val = $("input[type='radio']:checked").val();
              if (val == 0) {
                alert("Please select item to edit ...")
              }
              else {
                window.location.replace("purchaseOrder_Edit.html?id=" + val);
              }
            }
        
          </script>
        <script>
        
        function edit_action() {
        
            var val = $("input[type='radio']:checked").val();
            if (val == 0) {
                alert("Please select item to edit ...")
            } else {
                window.location.replace("edit/" + val);
            }
        }
        
        function delete_action() {
        
            var val = $("input[type='radio']:checked").val();
            if (val == 0) {
                alert("Please select item to delete ...")
            } else {
                window.location.replace("delete/" + val);
                alert("Want to delete? ...")
        
            }
        }
        
        </script>
        <script>
        function validateName() {
        
            var name = document.getElementById('customer-name').value;
        
            if (name.length == 2) {
        
                producePrompt('Name is required', 'name-error', 'red')
                return false;
        
            }
        
            if (!name.match(/^[A-Za-z]*\s{0}/)) {
        
                producePrompt('First and last name, please.', 'name-error', 'red');
                return false;
        
            }
        
            producePrompt('Valid', 'name-error', 'green');
            return true;
        
        }
        
        function validatePhone() {
        
            var phone = document.getElementById('customer-phone').value;
        
            if (phone.length == 0) {
                producePrompt('Phone number is required.', 'phone-error', 'red');
                return false;
            }
        
            if (phone.length != 10) {
                producePrompt('Include area code.', 'phone-error', 'red');
                return false;
            }
        
            if (!phone.match(/^[0-9]{10}$/)) {
                producePrompt('Only digits, please.', 'phone-error', 'red');
                return false;
            }
        
            producePrompt('Valid', 'phone-error', 'green');
            return true;
        
        }
        function validateCode() {
        
            var code = document.getElementById('customer-code').value;
        
            if (code.length == 0) {
                producePrompt(' Supplier code number is required.', 'code-error', 'red');
                return false;
            }
        
            if (code.length != 5) {
                producePrompt('Include area code.', 'code-error', 'red');
                return false;
            }
        
            if (!code.match(/^[0-9]{5}$/)) {
                producePrompt('Only digits, please.', 'code-error', 'red');
                return false;
            }
            producePrompt('Valid', 'code-error', 'green');
            return true;
        
        }
        
        function validateEmail() {
        
            var email = document.getElementById('customer-email').value;
        
            if (email.length == 0) {
        
                producePrompt('Email Invalid', 'email-error', 'red');
                return false;
        
            }
        
            if (!email.match(/^[A-Za-z\._\-[0-9][@][A-Za-z][\.][a-z]{2,4}$/)) {
        
                producePrompt('Email Invalid', 'email-error', 'red');
                return false;
        
            }
        
            producePrompt('Valid', 'email-error', 'green');
            return true;
        
        }
        function validateForm() {
            if (!validateName() || !validatePhone() || !validateEmail() || !validateCode() || !validateMessage()) {
                jsShow('submit-error');
                producePrompt('Please fix errors to submit.', 'submit-error', 'red');
                setTimeout(function () { jsHide('submit-error'); }, 2000);
                return false;
            }
            else {
        
            }
        }
        
        function jsShow(id) {
            document.getElementById(id).style.display = 'block';
        }
        
        function jsHide(id) {
            document.getElementById(id).style.display = 'none';
        }
        
        
        function producePrompt(message, promptLocation, color) {
        
            document.getElementById(promptLocation).innerHTML = message;
            document.getElementById(promptLocation).style.color = color;
        
        }
        </script>
        <script>
        document.getElementById('downlodexcel').addEventListener('click', function () {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll('#tables'));
        });
        </script>
        <script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#tables')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("PurchaseRequest-details.pdf");
                }
            });
        });
        </script>
        {% endblock %}
        