<div id="page-header">
  <h1 id="page-heading">STOCK DETAILS </h1>
</div>
<div id="main-header">
  <h1 id="main-heading">Welcome to : Chal Charkha</h1>
</div>
<div class="card mb-4">
  <div class="card-header">
    STOCK DETAILS
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-md-2">
        <div class="form-group">
          <label>Item ID</label>
          <input type="text" class="form-control" id="exampleInputremark1" aria-describedby="emailHelp" placeholder="">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Item Name</label>
          <select class="form-select" aria-label="Default select example">
            <option selected="">Item Name</option>
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3">Item 3</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" id="exampleInputhescription1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Previous Quantity</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Changed Quantity</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>


      <div class="col-md-2">
        <div class="form-group">
          <label>New Quantity</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Rack No.</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Received From (Department)</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Remark</label>
          <input type="text" class="form-control" id="exampleInputsupplername1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>