{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<form method="post" enctype="multipart/form-data" onsubmit="alert('Created Successfully');">
  {% csrf_token %}
  <div id="page-header">
    <h1 id="page-heading">ADD SUPPLIER</h1>
  </div>
  <div id="main-header">
    <h1 id="main-heading">Welcome to : Chal Charkha</h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">CREATE SUPPLIER MASTER</div>
    <div class="card-body">
      {% if error1 %}
				<div class="alert alert-danger" role="alert">
					{{error1}}
				</div>
				{% endif %}
				{% if error2 %}
				<div class="alert alert-danger" role="alert">
					{{error2}}
				</div>
        {% endif %}
        {% if error3 %}
				<div class="alert alert-danger" role="alert">
					{{error3}}
				</div>
				{% endif %}
        {% if error4 %}
				<div class="alert alert-danger" role="alert">
					{{error4}}
				</div>
				{% endif %}
        {% if error5 %}
				<div class="alert alert-danger" role="alert">
					{{error5}}
				</div>
				{% endif %}
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">{{form.Name | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.Email | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.Mobile_NO | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.GSTIN | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            {{form.Place_Of_Supply | as_crispy_field}}
          </div>
        </div>
        <label>Address :- </label>
        <div class="col-md-3">
          <div class="form-group">{{form.title | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.Billing_Name | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.Street_h_n | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.City | as_crispy_field}}</div>
        </div>
    
        <div class="col-md-3">
          <div class="form-group">{{form.state | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.country | as_crispy_field}}</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">{{form.postalcode | as_crispy_field}}</div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            {{form.suppliers_product | as_crispy_field}}
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">{{form.Remark | as_crispy_field}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Submit
    </button>
  </div>
</form>
{% endblock %}
